※ [File]-[Drive에 사본 저장]을 클릭하고 파일 이름을 본인의 학번과 이름으로 변경하여 저장하시오.

[실습1] Car 클래스를 정의하여 실행하시오.

In [ ]:
# 아래에 코드를 입력하고 실행결과를 확인해 보자.
class Car:
  makeYear=2020
  color="Read"
  def drive(self, direction):
    print(f"Drive in {direction} way")
car1=Car()
print(car1.color)
car1.drive("left")

Read
Drive in left way

[실습2] Pandas 모듈을 이용하여 데이터 프레임을 만들고 데이터 특징을 확인해 보자.

In [ ]:
# [실습2] 아래에 코드를 입력하고 실행결과를 확인해 보자.
import pandas as pd
df=pd.DataFrame({'x':[1,2,3]})
df.head()
print(df.shape)

(3, 1)

[실습3] 두 수를 입력받아서 더하기와 곱하기 결과를 출력해주는 Calc 클래스를 정의하고 실행 결과를 확인하시오.

In [ ]:
# [실습3] 아래에 코드를 입력하고 실행결과를 확인해 보자.
class Calc:
  def add(_,__):return _+__
  def mul(_,__):return _*__
print(f"2+3={Calc.add(2,3)}\n2*3={Calc.mul(2,3)}")

2+3=5
2*3=6

In [ ]:
# 출력 형태 참고 
a="홍길동"
print(f'내 이름은 {a}입니다')

내 이름은 홍길동입니다

# 오류 메세지가 발생하는 코드를 실행해보고 오류를 수정해 봅시다.

In [ ]:
# 1) SyntaxError: 문법 규칙을 어긴 경우
print("hello")

hello

In [ ]:
# 2) NameError : 변수명을 정의하지 않고 사용했을 때나 함수명이 틀렸을 때
print(a)

홍길동

In [ ]:
# 3) TypeError: 데이터 타입이 안 맞을 때
print(str(3)+"a")

3a

In [ ]:
# 4) FileNotFoundError: 파일명이 틀렸거나 파일을 못 찾았을 때
#f=pd.read_csv("exam.csv")

In [23]:
# 5) KeyError: 데이터 프레임의 변수명이나 딕셔너리의 키를 잘 못 적었을 때
import pandas as pd
f=pd.DataFrame( { "nclass":[1,2,3], "kor":[80,70,55], "eng":[90,88,79] } )
f["nclass"]

0    1
1    2
2    3
Name: nclass, dtype: int64

In [25]:
# 6) AttributeError: 객체의 속성 이름이 틀리거나 없는 경우
f=pd.DataFrame( { "nclass":[1,2,3], "kor":[80,70,55], "eng":[90,88,79] } )
f.head()

   nclass  kor  eng
0       1   80   90
1       2   70   88
2       3   55   79

In [19]:
%%shell
pip install gtts

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gtts
  Downloading gTTS-2.3.1-py3-none-any.whl (28 kB)
Requirement already satisfied: click<8.2,>=7.1 in /usr/local/lib/python3.9/dist-packages (from gtts) (8.1.3)
Requirement already satisfied: requests<3,>=2.27 in /usr/local/lib/python3.9/dist-packages (from gtts) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gtts) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gtts) (2.0.12)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gtts) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests<3,>=2.27->gtts) (1.26.15)
Installing collected packages: gtts
Successfully installed gtts-2.3.1

In [20]:
# 7) ImportError: 모듈 이름이 틀리거나 없는 경우
from gtts import gTTS
text ="안녕하세요, 여러분. 파이썬으로 노는 것은 재미있습니다!!!"

tts = gTTS(text=text, lang='ko')
tts.save("helloKO.mp3")

In [26]:
# 8) IndexError: 리스트의 인덱스 범위를 벗어난 경우
arr=[10,20,30]
print(arr[2])

30

In [28]:
# 9) ZeroDivisionError: 0으로 나뉜 경우

a=[3,7,0,5]
for i in a:
    print(10/i if i else "Error : Divided by 0")

3.3333333333333335
1.4285714285714286
Error : Divided by 0
2.0

※ 파일을 HTML 문서로 변환하여 제출하시오.
1) [파일]-[다운로드]를 클릭하여 코드 파일 다운로드하기
2) 다운로드 한 파일을 코랩의 왼쪽 파일 창에 드래그하여 업로드하기
3) ipynb 파일을 마우스 오른버튼으로 클릭하여 [경로 복사] 선택
4) 코드셀에 다음과 같이 입력하고 실행

%%shell
jupyter nbconvert --to html 복사한 파일 경로

5) 파일 검색창의 [새로고침] 버튼 클릭
6) html 파일을 클릭하여 [다운로드] → 제출

In [ ]:
%%shell
jupyter nbconvert --to html 복사한 파일 경로