데이터 프레임

In [4]:
import pandas as pd

sample_df = pd.DataFrame({
    'col1' : ,
    'col2' : ,
    'col3' : ["A","B","C","D","E"]
})

print(sample_df)

   col1  col2 col3
0     1     2    A
1     2     4    B
2     3     6    C
3     4     8    D
4     5    10    E

In [2]:
df = pd.DataFrame([,
                  index=,
                 columns=['길동','이동','삼동','사동'])
df

   길동  이동   삼동   사동
A  80  90  100   70
B  70  80   90  100

In [6]:
data = {}                  #딕셔너리
print(data)
data = pd.DataFrame(data, index=['a','b','c','d'])
data

{'score1': [91, 94, 97, 100], 'score2': [100, 97, 94, 91]}

   score1  score2
a      91     100
b      94      97
c      97      94
d     100      91

In [7]:
data = pd.DataFrame()    #딕셔너리
data

   score1  score2
0      91     100
1      94      97
2      97      94
3     100      91